.DS_Store
main.aux
main.bbl
main.blg
main.fdb_latexmk
main.fls
main.log
main.pdf
main.synctex.gz
mainNotes.bib

supp.aux
supp.bbl
supp.blg
supp.fdb_latexmk
supp.fls
supp.log
supp.pdf
supp.synctex.gz
supp.bib

coverletter.aux
coverletter.bbl
coverletter.blg
coverletter.fdb_latexmk
coverletter.fls
coverletter.log
coverletter.pdf
coverletter.synctex.gz
coverletter.bib

suppNotes.bib

*.pdf